.clear {
  width: 100%;
  height: 0;
  clear: both;
}
.clear.bt {
  border-bottom: 1px solid #e5e5e5;
}
.c20 {
  height: 20px;
}
.max_width {
  width: 1000px;
  margin: 0 auto;
}
#top .max_width {
  height: 80px;
  background: url("../images/top_bg.jpg") no-repeat right 0 transparent;
}
.logo {
  display: block;
  float: left;
  padding-top: 5px;
}
.logo img {
  width: 225px;
  height: 67px;
}
.blk_search {
  float: right;
  width: 457px;
  padding-top: 23px;
}
.blk_search .ipt_keywords {
  display: block;
  float: left;
  padding: 7px;
  border: 1px solid #a6a6a6;
  background: transparent;
  width: 372px;
}
.blk_search .ipt_submit {
  display: block;
  float: left;
  height: 28px;
  text-align: center;
  width: 50px;
  background: #f1f1f1;
  border: 1px solid #e3e3e3;
  font-size: 16px;
  color: #959595;
  margin-left: 7px;
}
#nav {
  height: 40px;
  background: #a5cb13;
  width: 100%;
}
#nav ul {
  display: block;
  text-align: center;
  width: 100%;
}
#nav li {
  display: inline-block;
  margin: 0 -2px;
  padding: 0;
}
#nav a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
#nav a.active,
#nav a:hover {
  background: #8eb201;
}
#nav_cat .max_width {
  height: 52px;
  box-shadow: 0 5px 5px #e9e9e9;
}
#nav_cat .cat {
  float: left;
  width: 460px;
}
#nav_cat .cat .i {
  font-size: 14px;
  display: blokc;
  float: left;
  height: 52px;
  line-height: 52px;
}
#nav_cat .cat a {
  margin: 0 9px;
}
#nav_cat .cat a:hover {
  color: #a9ce1c;
}
.cat_bussiness {
  margin-left: 15px;
}
.cat_city {
  margin-left: 60px;
}
#maincon {
  margin-top: 42px;
}
#maincon .l {
  float: left;
  width: 660px;
}
#maincon.catecon {
  margin: 0;
}
.side_1 {
  float: right;
  width: 310px;
}
.slide1w {
  height: 360px;
  width: 660px;
}
.slide1w .cycle-slideshow {
  height: 360px;
  width: 660px;
  overflow: hidden;
}
.slide1w .item {
  display: block;
  height: 360px;
  width: 660px;
  position: relative;
}
.slide1w .item img {
  display: block;
  height: 360px;
  width: 660px;
}
.slide1w .item .txw {
  display: block;
  width: 660px;
  height: 68px;
  text-align: center;
  line-height: 68px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 22px;
  color: white;
  font-weight: bold;
}
.slide1w .cycle-pager {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  z-index: 200;
}
.slide1w .cycle-pager span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 10px;
  color: #a6a5a5;
  cursor: pointer;
}
.slide1w .cycle-pager span.cycle-pager-active {
  color: white;
  font-size: 33px;
}
.mt20 {
  margin-top: 20px;
}
.blk_ti {
  width: 100%;
  height: 52px;
}
.blk_ti.gray {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.blk_ti h4 {
  display: block;
  float: left;
  width: 80px;
  text-align: center;
  line-height: 52px;
  height: 52px;
  font-size: 14px;
  color: #323232;
  background: #f9f9f9;
}
.idxlist_ul {
  display: block;
}
.idxlist_ul li {
  display: block;
  padding: 24px 0;
  border-bottom: 1px solid #e5e5e5;
}
.idxlist_ul .imgw {
  display: block;
  float: left;
  width: 180px;
  height: 135px;
  position: relative;
}
.idxlist_ul .imgw img {
  display: block;
  max-width: 180px;
  max-height: 135px;
  *width: 180px;
  *height: 135px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.idxlist_ul .imgr {
  float: left;
  margin-left: 20px;
  width: 455px;
}
.idxlist_ul .imgr .lti {
  font-size: 18px;
  color: #323232;
  display: block;
}
.idxlist_ul .imgr .lti:hover {
  color: #a9ce1c;
  cursor: pointer;
}
.idxlist_ul .imgr .des {
  display: block;
  font-size: 14px;
  color: #777777;
  margin-top: 15px;
  line-height: 18px;
  height: 70px;
  overflow: hidden;
}
.idxlist_ul .imgr .rbo {
  display: block;
  margin-top: 17px;
  font-size: 14px;
  color: #323232;
}
.idxlist_ul .imgr .time {
  margin-left: 15px;
}
.idxlist_ul .imgr .tags {
  margin-left: 15px;
}
.idxlist_ul .imgr .tags .a2 {
  margin-left: 15px;
}
.idxlist_ul .imgr a:hover {
  color: #a9ce1c;
  cursor: pointer;
}
.pagination {
  display: block;
  margin-top: 20px;
}
.pagination li {
  display: block;
  float: left;
  margin-left: -1px;
}
.pagination li a {
  display: block;
  height: 33px;
  width: 31px;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
  color: #454545;
  border: 1px solid #d9d9d9;
  z-index: 10;
}
.pagination li a:hover {
  background: #e4e0e0;
}
.pagination li.active a {
  background: #a9ce1c;
  color: white;
  z-index: 15;
}
#yema {
  display: block;
  width: 24px;
  padding: 10px 5px 11px 5px ;
  border: 1px solid #d9d9d9;
  margin: 0 4px;
  border-radius: 3px;
}
#tiaozhuan {
  border: 0;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}
#tiaozhuan:hover {
  color: #a9ce1c;
  background: transparent;
}
.sblkti .vline {
  display: block;
  float: left;
  height: 18px;
  width: 4px;
  background: #a9ce1c;
}
.sblkti h4 {
  display: block;
  float: left;
  font-size: 18px;
  color: #a9ce1c;
  font-weight: bold;
  margin-left: 15px;
}
.jizhe {
  display: block;
}
.jizhe li {
  display: block;
  margin-top: 20px;
}
.jizhe .imgw {
  display: block;
  float: left;
}
.jizhe .imgw img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.jizhe .imgr {
  display: block;
  float: right;
  width: 180px;
}
.jizhe .lti {
  padding-top: 17px;
  font-size: 16px;
  color: #323232;
  display: block;
}
.jizhe .des {
  display: block;
  margin-top: 10px;
  line-height: 20px;
  font-size: 14px;
  color: #323232;
}
.tenhot {
  margin-top: 10px;
  display: block;
}
.tenhot li {
  display: block;
  border-bottom: 1px solid #e5e5e5;
}
.tenhot li.active .des {
  display: block;
}
.tenhot li.active a .ti {
  font-weight: bold;
}
.tenhot .des {
  display: none;
  width: 285px;
  float: right;
  font-size: 12px;
  color: #999;
  line-height: 20px;
  margin-bottom: 5px;
  height: 40px;
  overflow: hidden;
}
.tenhot a {
  display: block;
  height: 35px;
  line-height: 35px;
}
.tenhot a .num {
  font-size: 16px;
  color: #a9ce1c;
  font-style: italic;
}
.tenhot a .num.red {
  color: #ff3300;
}
.tenhot a .ti {
  font-size: 14px;
  color: #333333;
  margin-left: 5px;
}
.tenhot a .ti:hover {
  color: #a9ce1c;
}
.micon {
  background: url(../images/micon.png) no-repeat 0 0 transparent;
  overflow: hidden;
  display: block;
  width: 10px;
  height: 10px;
}
.blkmag .m {
  margin-top: 20px;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  background: #448aca;
}
.blkmag .m.odd {
  background: #bae514;
}
.blkmag .micon {
  float: left;
  width: 18px;
  height: 22px;
  margin: 19px 0 0 15px;
}
.blkmag .ti {
  display: block;
  float: left;
  margin-left: 10px;
  height: 60px;
  line-height: 60px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-shadow: 2px 2px 2px #504f4f;
}
.blkmag .ti:hover {
  text-shadow: 2px 2px 2px black;
}
.blkmag .time {
  color: white;
  display: block;
  float: left;
  margin: 26px 0 0 5px;
}
.ad {
  display: block;
  width: 100%;
}
.ad img {
  display: block;
  width: 100%;
}
.tagsw {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
}
.tagsw .tagsinw {
  width: 320px;
}
.tagsw a {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  background: #a9ce1c;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0 8px;
  color: white;
}
.tagsw a:hover {
  color: #000;
}
.newblkul {
  display: block;
}
.newblkul li {
  display: block;
  width: 100%;
}
.newblkul a {
  display: block;
  height: 33px;
  line-height: 33px;
  font-size: 14px;
  color: #333;
}
.newblkul .first {
  height: 80px;
  padding: 10px 0;
}
.newblkul .first .imgw {
  display: block;
  float: left;
  width: 120px;
  height: 80px;
}
.newblkul .first .imgw img {
  width: 120px;
  height: 80px;
}
.newblkul .first .ti {
  width: 168px;
  display: block;
  float: right;
  font-size: 16px;
  color: #333;
  line-height: 27px;
}
.newblkul .cir {
  display: block;
  float: left;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e5e5e5;
  margin-top: 13px;
}
.newblkul .tx {
  margin-left: 5px;
}
#footer {
  margin-top: 20px;
  background: #a9ce1c;
}
.friend {
  padding: 18px;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  color: #222222;
}
.friend .ti {
  color: #222;
}
.friend .i {
  color: #8fb306;
  margin-right: 22px;
  cursor: pointer;
}
.friend .i:hover {
  color: #3e491a;
}
.fmenu {
  margin: 20px 0;
  text-align: center;
}
.fmenu a {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  color: white;
}
.fmenu a:hover {
  color: #3e491a;
}
.fmenu .line {
  width: 1px ;
  height: 18px;
  background: white;
  position: relative;
  margin: 0 10px;
  top: 4px;
}
.bolo {
  display: block;
  font-size: 14px;
  color: #e9e9e9;
  line-height: 28px;
  margin-left: 175px;
}
.bolo .s2 {
  margin-left: 97px;
}
.bolo .s4 {
  margin-left: 62px;
}
.ml10 {
  margin-left: 10px;
}
.breadcrumb {
  height: 33px;
  line-height: 33px;
  padding-left: 7px;
  background: #f5f5f5;
  font-size: 14px;
  color: #454545;
}
.breadcrumb a {
  color: #454545;
}
.breadcrumb .tx {
  color: #848484;
}
.newscon .ti {
  font-size: 24px;
  color: #222;
  line-height: 28px;
}
.newscon .des {
  display: block;
  margin: 22px 0;
  font-size: 12px;
  color: #8eb201;
}
.newscon .shdes {
  display: block;
  padding: 13px;
  background: #fbfbfb;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  color: #a9ce1c;
  line-height: 26px;
}
.newscon .ad {
  display: block;
  height: 75px;
  width: 100%;
  margin: 15px 0;
}
.newscon .ad img {
  width: 100%;
  height: 75px;
}
.nmaincon {
  margin-top: 20px;
  font-size: 16px;
  color: #4b4b4b;
  line-height: 29px;
}
.nmaincon img {
  max-width: 480px;
  width: 480px;
}
.nmaincon .img {
  text-align: center;
  margin-bottom: 20px;
}
.ncontags {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #fbfbfb;
  padding: 15px;
  margin-top: 20px;
}
.ncontags .micon {
  width: 23px;
  height: 22px;
  background-position: -19px 0px;
  float: left;
}
.ncontags a {
  display: block;
  float: left;
  height: 27px;
  line-height: 27px;
  padding: 0 10px;
  margin-left: 10px;
  background: #eaeaea;
  border-radius: 3px;
  color: #b5b2b2;
}
.ncontags a:hover {
  color: #a9ce1c;
}
.shengm {
  height: 195px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 14px;
  color: #222;
  line-height: 24px;
  position: relative;
}
.shengm .micon {
  width: 15px;
  height: 20px;
  background-position: -43px 0;
  margin: 17px 0 0 12px;
}
.shengm .n1 {
  display: block;
  width: 590px;
  height: 50px;
  position: absolute;
  top: 14px;
  left: 46px;
}
.shengm .code {
  display: block;
  position: absolute;
  top: 82px;
  left: 50px;
}
.shengm .n2 {
  display: block;
  width: 473px;
  top: 88px;
  left: 163px;
  position: absolute;
}
.share {
  height: 60px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 15px;
}
.share .micon {
  display: block;
  width: 24px;
  height: 23px;
  background-position: -59px 0;
  margin: 21px 0 0 12px;
  float: left;
}
.share .tx {
  float: left;
  margin-left: 20px;
  margin-top: 26px;
  font-size: 14px;
  color: #222;
}
.bdsharew {
  float: left;
  margin: 13px 0 0 15px;
}
.secpageti {
  display: block;
  float: left;
  font-size: 20px;
  color: #a5cb13;
  margin: 30px 0 0 66px;
}
.cattab {
  height: 60px;
}
.cattab a {
  display: block;
  float: left;
  height: 56px;
  border: 2px solid #a5cb13;
  text-align: center;
  width: 496px;
  line-height: 56px;
  font-size: 20px;
  color: #4c4c4c;
  cursor: pointer;
}
.cattab .active {
  background: #a5cb13;
  color: white;
}
.tabcon {
  display: none;
}
.tabcon .tabti {
  border-bottom: 2px solid #eeeeee;
  height: 66px;
  position: relative;
}
.tabcon .tabti h4 {
  display: block;
  position: absolute;
  bottom: 0;
  width: 202px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  color: #222222;
  text-align: center;
  border-bottom: 2px solid #222222;
}
.tabcon.active {
  display: block;
}
.hotrec {
  margin-top: 38px;
  width: 100%;
}
.hotrec .wra {
  width: 1050px;
}
.logoitem {
  float: left;
  height: 163px;
  width: 220px;
  border: 1px solid #d7d7d7;
  margin-right: 37px;
  position: relative;
}
.logoitem .imgw {
  display: block;
  position: relative;
  width: 220px;
  height: 163px;
}
.logoitem .imgw img {
  display: block;
  max-width: 172px;
  max-height: 129px;
  *width: 172px;
  *height: 129px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.logoitem .bow {
  display: none;
  position: absolute;
  width: 100%;
  background: url(../images/logo_item_bg.png) repeat 0 0 transparent;
  height: 39px;
  bottom: 0;
  left: 0;
  line-height: 39px;
  text-align: center;
}
.logoitem .bow .tx {
  font-size: 14px;
  color: #3e3e3e;
}
.logoitem .bow .m {
  font-size: 12px;
  color: #797979;
}
.logoitem .bow:hover .m,
.logoitem .bow:hover .tx {
  color: #a9ce1c;
}
.logoitem.hover .bow {
  display: block;
}
.catnav {
  margin-top: 47px;
  width: 100%;
}
.catnav .catnavw {
  width: 1050px;
}
.catnav .cnavi {
  display: block;
  float: left;
  height: 69px;
  width: 50px;
  margin-right: 18px;
  cursor: pointer;
}
.catnav .cnavi .micon {
  width: 29px;
  height: 29px;
  margin: 7px 0 0 10px;
}
.catnav .cnavi .tx {
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: #aaa;
  margin-top: 7px;
}
.catnav .cnavi:hover .tx {
  color: #a9ce1c;
}
.catnav.cities .catnavw {
  width: 1030px;
}
.catnav.cities .cnavi {
  width: auto;
  height: auto;
  font-size: 14px;
  color: #aaaaaa;
  margin-right: 40px;
  height: 36px;
  line-height: 36px;
}
.catnav.cities .cnavi:hover {
  color: #a9ce1c;
}
.micon.repast {
  background-position: -84px 0;
}
.micon.commnuity {
  background-position: -114px 0;
}
.micon.meiye {
  background-position: -144px 0;
}
.micon.house {
  background-position: -174px 0;
}
.micon.travel {
  background-position: -204px 0;
}
.micon.educate {
  background-position: -234px 0;
}
.micon.remedy {
  background-position: 0px -30px;
}
.micon.car {
  background-position: -30px -30px;
}
.micon.trip {
  background-position: -60px -30px;
}
.micon.house_property {
  background-position: -90px -30px;
}
.micon.retail {
  background-position: -120px -30px;
}
.micon.service {
  background-position: -150px -30px;
}
.micon.marriage {
  background-position: -180px -30px;
}
.micon.financial {
  background-position: -210px -30px;
}
.micon.others {
  background-position: -240px -30px;
}
.catlistw {
  margin-top: 73px;
}
.catlistw .lti {
  display: block;
  position: relative;
  float: left;
  width: 128px;
  height: 500px;
}
.catlistw .lti .tiw {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border: 1px solid #d7d7d7;
  z-index: 15;
}
.catlistw .lti .tiw .micon {
  width: 29px;
  height: 29px;
  margin: 12px 0 0 24px;
}
.catlistw .lti .tiw .tx {
  display: block;
  font-size: 16px;
  color: #aaaaaa;
  text-align: center;
  margin-top: 5px;
}
.catlistw .lti .circle {
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  position: absolute;
  left: 31px;
  background: white;
  z-index: 15;
}
.catlistw .lti .circle.c1 {
  top: 50%;
}
.catlistw .lti .circle.c2 {
  bottom: -15px;
}
.catlistw .lti .vlin {
  display: block;
  position: absolute;
  width: 0;
  height: 500px;
  left: 39px;
  bottom: 0;
  border-left: 1px solid #d7d7d7;
  z-index: 10;
}
.catlistw .rlc {
  float: right;
  width: 872px;
}
.catlistw.cities .lti .tiw {
  font-size: 16px;
  color: #aaaaaa;
  text-align: center;
  line-height: 75px;
}
.openmore {
  display: block;
  height: 60px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #494848;
  cursor: pointer;
}
.openmore:hover {
  color: #a9ce1c;
}
.catlistinw {
  width: 902px;
}
.catlistin {
  width: 902px;
}
.catlistin .logoitem {
  width: 193px;
  height: 143px;
  margin-right: 29px;
  margin-bottom: 30px;
}
.catlistin .logoitem .imgw {
  width: 193px;
  height: 143px;
}
.catlistin .logoitem .imgw img {
  max-width: 150px;
  max-height: 112.5px;
}
.linegreen {
  display: block;
  height: 0;
  width: 100%;
  border-bottom: 2px solid #a5cb13;
}
.catdescon .conl {
  float: left;
  width: 660px;
}
.catdescon .conr {
  float: right;
  width: 310px;
}
.catdescon .conr .sblkti {
  margin-top: 24px;
}
.catdescon .conr .logoitem {
  margin: 30px 0 0 0;
  width: 307px;
  height: 227px;
}
.catdescon .conr .logoitem .imgw {
  width: 307px;
  height: 227px;
}
.catdescon .conr .logoitem img {
  max-width: 230px;
  max-height: 172.5px;
  *width: 230px;
  *height: 172.5px;
}
.catdescon .comti {
  padding: 24px 0;
}
.catdescon .comti .imgw {
  display: block;
  width: 134px;
  height: 90px;
  border: 1px solid #d7d7d7;
  position: relative;
  float: left;
}
.catdescon .comti .imgw img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 110px;
  max-height: 82.5px;
  *width: 110px;
  *height: 82.5px;
}
.catdescon .comti .comdeli {
  float: left;
  width: 460px;
  font-size: 16px;
  color: #5a5a5a;
  line-height: 30px;
  margin-left: 18px;
}
.catdescon .line {
  border-bottom: 1px solid #d7d7d7;
  margin: 35px 0 13px 0;
}
.deconp {
  border-top: 1px solid #d7d7d7;
}
.deconp .pti {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  color: #222222;
  text-align: center;
}
.detailconp {
  margin-top: 25px;
  font-size: 16px;
  color: #595959;
  line-height: 28px;
}
.relateti {
  font-size: 16px;
  color: #acacac;
}
.realtelistw {
  width: 100%;
  overflow: hidden;
}
.realtelist {
  width: 680px;
  display: block;
  margin-top: 10px;
}
.realtelist li {
  display: block;
  float: left;
  height: 43px;
  line-height: 43px;
  margin-right: 20px;
}
.realtelist a {
  font-size: 16px;
  color: #adadad;
}
.realtelist a:hover {
  color: #a9ce1c;
}
